# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
public/
.DS_Store
yarn-error.log


### Node ###
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# npm
node_modules
.npm

# Output of 'npm pack'
*.tgz

# Build Files
# public/
.cache/

# Gatsby context
.gatsby-context.js

# Bundle stats
bundle-stats.json