@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700');
/// Overwrite Roboto default font
$md-font-name: Work ;

@import '~react-md/src/scss/react-md';
@include react-md-everything;

$md-primary-color: $md-orange-300;
$md-secondary-color: $md-orange-a-400;
$md-tertiary-color: $md-orange-300;


html {
  height: 100%;
}

body {
  margin: 0;
  background-color:rgba(228,230,229,.25);
}

a {
    text-decoration:none;
    color:#000;
}

a:hover{ 
  color:#ffb74d;
}